<ion-header>
  <div class="menu">
    <img class="img-header" src="assets/img/epi.png" alt="Logo da Empresa">
    <a class="buttons-menu-a" href="https://www.presidenteepitacio.sp.gov.br/">Prefeitura</a>
    <a href="/vagas">Vagas</a>
    <a href="/sobre">Sobre</a>
    <a (click)="enviarSMS()"> Painel</a>
    <a *ngIf="usuarioLogado == null" (click)="logar()">Entre</a>
    <a *ngIf="usuarioLogado != null" (click)="logout()">Sair</a>
    <span *ngIf="usuarioLogado == null" style="color: white;">Trabalhe Conosco</span>
    <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
      <span *ngIf="usuarioLogado != null" style="color: white;">{{usuarioLogado.nome}}</span>
      <img class="img-perfil" *ngIf="usuarioLogado != null && usuarioLogado.foto" [src]="usuarioLogado.foto" alt="">
    </div>
  </div>
  <div class="city">

  </div>
  <b style="color: white; position: absolute; bottom: 10%; right: 15%;">Presidente Epitácio / SP</b>
</ion-header>

<ion-content class="ion-content">
  <div class="vertical">
    <div class="centralizado vertical">
      <h1 class="main-title"> Encontre emprego dentro da sua própria residência </h1>
      <div class="div-data"><ion-icon color="#e8aff6" name="calendar-outline"></ion-icon> <b style="margin-left: 10px;"
          color="#e8aff6">{{mes}} {{dia}}, {{ano}}</b> </div>
    </div>
    <ion-button *ngIf="usuarioLogado != null && usuarioLogado.confirmado == false" class="codigo buttons" (click)="abrirConfirmacao()">Verifique sua conta
      <div class="buttons-icon" style="width: 25px; height: 25px">
        <ion-icon style="font-size: 15px;" name="arrow-forward-outline"></ion-icon>
      </div>
    </ion-button>

      <div class="cards">

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>
              <div class="top-card-number">#1</div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <h1 class="title"><b>Colaborador</b></h1>
              <p>
                Cadastre-se no site como colaborador para conseguir ter acesso as vagas disponíveis em nosso município.
              </p>
            </div>
            <ion-button (click)="cadastrarColaborador()" class="buttons">
              Cadastre-se
              <div class="buttons-icon">
                <ion-icon style="font-size: 20px;" name="arrow-forward-outline"></ion-icon>
              </div>
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>
              <div class="top-card-number">#2</div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="content">
              <h1 class="title"><b>Empregador</b></h1>
              <p>
                Cadastre-se como empregador para disponibilizar vagas de emprego como: vaga fixa, freelancer, diária.
                Consiga achar hoje mesmo pessoas disponíveis para trabalhar.
              </p>
            </div>
            <ion-button (click)="cadastrarEmpregador()" class="buttons">
              Cadastre-se
              <div class="buttons-icon">
                <ion-icon style="font-size: 20px;" name="arrow-forward-outline"></ion-icon>
              </div>
            </ion-button>
          </ion-card-content>
        </ion-card>


      </div>
  


  </div>

</ion-content>